<div class="page-wraper">

   <!-- HEADER START -->
    <!--<app-header4></app-header4> -->
    <!-- HEADER END -->


    <!-- CONTENT START -->
    <div class="page-content">
        <!-- INNER PAGE BANNER -->
        <!-- <app-section-page-banner [data]="banner"></app-section-page-banner> -->
        <!-- INNER PAGE BANNER END -->

        <!-- SECTION CONTENT START -->
        <div class="section-full p-tb80 bg-white inner-page-padding">

            <!-- GALLERY CONTENT START -->
            <div class="container">
                <!-- Filter Nav START -->

                <!-- Filter Nav END -->
                <!-- GALLERY CONTENT START -->
                 <!-- <ul class="masonry-outer mfp-gallery work-grid clearfix list-unstyled no-col-gap m-b60">

                    <li *ngFor="let object of projects" class="masonry-item {{object.category}} col-lg-4  col-md-4 col-sm-6">
                        <app-elements-box6 [data]='object' gap='0'></app-elements-box6>
                    </li>
                 </ul> -->


                 <!-- <div class="project-mas {{shadow=='0' ? '' : 'hover-shadow'}} {{gap=='0' ? '' : 'm-a30'}}"> -->









                  <iframe src="https://player.twitch.tv/?channel=vocacionalradiooficial&parent=vocacionalradio.com" frameborder="0" allowfullscreen="true" scrolling="no" height="578" width="980"></iframe>




              <!-- </div> -->

                <!-- GALLERY CONTENT END -->
                <!-- <div class="text-center load-more-btn-outer" style="background-image:url(assets/images/background/cross-line.png)">
                    <button class="site-button-secondry btn-half"><span>Load More</span></button>
                </div> -->
            </div>
            <!-- GALLERY CONTENT END -->

        </div>
        <!-- SECTION CONTENT END  -->

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <!-- <app-footer1 [data]='footerData'></app-footer1> -->
    <!-- FOOTER END -->

</div>
