<div class="number-block-two animate-in-to-top bdr-gray-light bdr-solid bdr-1">
    <div class="figcaption bg-white  p-a30">
        <h4 class="m-t0">{{data.title}}</h4>
        <h6 class="sx-text-primary">{{data.hour}}</h6>
        <p>{{data.description}}</p>
        <h5 class="sx-text-primary" > {{data.locutor}}</h5>
        <!-- <a routerLink="/services/services-detail" class="site-button-link">Read More</a> -->
        <div class="figcaption-number animate-in-to-top-content">
            <span>{{data.serial}}</span>
        </div>
    </div>
</div>
