<div class="page-wraper">

    <!-- HEADER START -->
    <!--<app-header4></app-header4> -->
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        <!-- <app-section-page-banner [data]="banner"></app-section-page-banner> -->
        <!-- INNER PAGE BANNER END -->

        <!-- SECTION CONTENTG START -->
        <div class="section-full p-tb80 inner-page-padding">
            <!-- LOCATION BLOCK-->
            <div class="container">

                <!-- GOOGLE MAP & CONTACT FORM -->
                <div class="section-content">
                    <!-- CONTACT FORM-->
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <form class="contact-form cons-contact-form bg-gray p-a30" method="post" action="form-handler.php">
                                <div class="contact-one">

                                    <!-- TITLE START -->
                                    <div class="section-head">
                                        <div class="sx-separator-outer separator-left">
                                            <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
                                                <h3 class="sep-line-one">Formulario</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- TITLE END -->

                                    <div class="form-group">
                                        <input name="username" type="text" required class="form-control" placeholder="Nombre">
                                    </div>

                                    <div class="form-group">
                                        <input name="email" type="text" class="form-control" required placeholder="Email">
                                    </div>

                                    <div class="form-group">
                                        <textarea name="message" rows="4" class="form-control " required placeholder="Mensaje"></textarea>
                                    </div>

                                    <div class="text-right">
                                        <button name="submit" type="submit" value="Submit" class="site-button btn-half"><span> Enviar</span>

                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="contact-info block-shadow bg-white bg-center p-a40" style="background-image:url(assets/images/background/bg-map.png)">

                                <div>
                                    <!-- TITLE START -->
                                    <div class="section-head">
                                        <div class="sx-separator-outer separator-left">
                                            <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
                                                <h3 class="sep-line-one">Info</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- TITLE END -->
                                    <div class="sx-icon-box-wraper left p-b30">
                                        <div class="icon-xs"><i class="fa fa-phone"></i></div>
                                        <div class="icon-content">
                                            <h5 class="m-t0">Telefono</h5>
                                            <p>809-748-0588 ext. 1156</p>
                                        </div>
                                    </div>

                                    <div class="sx-icon-box-wraper left p-b30">
                                        <div class="icon-xs"><i class="fa fa-envelope"></i></div>
                                        <div class="icon-content">
                                            <h5 class="m-t0">Correo Electr&oacute;nico</h5>
                                            <p>vocacionalradio1@gmail.com</p>
                                        </div>
                                    </div>

                                    <div class="sx-icon-box-wraper left">
                                        <div class="icon-xs"><i class="fa fa-map-marker"></i></div>
                                        <div class="icon-content">
                                            <h5 class="m-t0">Direcci&oacute;n</h5>

                                            <p>Carretera Mella KM 16 ½, San Isidro</p>
                                            <p>Santo Domingo Este, Rep&uacute;blica Dominicana</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
       </div>
        <div class="gmap-outline">
            <!-- <div id="gmap_canvas2" class="google-map"></div> -->
            <!-- <google-map  height="500px" width="100%"></google-map> -->
        </div>
        <!-- SECTION CONTENT END -->

    </div>
    <!-- CONTENT END -->

    <!-- FOOTER START -->
    <!-- <app-footer1 [data]='footerData'></app-footer1> -->
    <!-- FOOTER END -->

</div>
