<footer class="site-footer footer-large  footer-light	footer-wide">

    <!-- FOOTER BLOCKES START -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <!-- ABOUT COMPANY -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_about">
                        <!--<h4 class="widget-title">About Company</h4>-->
                        <div class="logo-footer clearfix p-b15">
                            <a routerLink="/index"><img src="assets/images/logo-1.png" alt=""></a>
                        </div>
                        <p>Somos la emisora oficial de La Direcci&oacute;n General de las Escuelas Vocacionales de las Fuerzas Armadas y la Polic&iacute;a Nacional (DIGEV).</p>

                        <ul class="social-icons  sx-social-links">

                          <li><a target="_blank" href="https://www.facebook.com/digevRD/" class="fa fa-facebook"></a></li>
                          <li><a target="_blank" href="https://twitter.com/digevrd" class="fa fa-twitter"></a></li>
                          <li><a target="_blank" href="https://www.instagram.com/digev.rd/" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>

                <!-- RESENT POST -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget recent-posts-entry-date">
                        <h5 class="widget-title">Nuestras Apps</h5>
                        <div class="widget-post-bx">
                           <div class="widget-post clearfix">
                                 <div class="sx-post-date text-center text-uppercase text-white">
                                    <!-- <strong class="p-date">15</strong> -->
                                    <a target="_blank" href="https://apps.apple.com/mu/app/vocacional-radio/id6444738217"><img src="assets/images/appslogo/apple.png" alt=""></a>


                                </div>
                                <div class="sx-post-info">
                                    <div class="sx-post-header ">
                                      <br>
                                      <h3 class="post-title"><a target="_blank" href="https://apps.apple.com/mu/app/vocacional-radio/id6444738217">Iphone / IOS.</a></h3>
                                    </div>

                                </div>
                            </div>

                            <div class="widget-post clearfix">
                              <div class="sx-post-date text-center text-uppercase text-white">
                                 <!-- <strong class="p-date">15</strong> -->
                                 <a target="_blank" href="https://play.google.com/store/apps/details?id=com.g7soluciones.vocacionalradio&pli=1"><img src="assets/images/appslogo/android.png" alt=""></a>


                             </div>
                             <div class="sx-post-info">
                                 <div class="sx-post-header ">
                                   <br>
                                   <h3 class="post-title"><a target="_blank" href="https://play.google.com/store/apps/details?id=com.g7soluciones.vocacionalradio&pli=1">Android.</a></h3>
                                 </div>

                             </div>
                         </div>

                        </div>
                    </div>
                </div>

                <!-- USEFUL LINKS -->
                <div class="col-lg-3 col-md-6 col-sm-6 footer-col-3">
                    <div class="widget widget_services inline-links">
                        <h5 class="widget-title">Paginas Amigas</h5>
                        <ul>
                            <li><a target="_blank" href="https://www.digev.mil.do/">Escuelas Vocacionales</a></li>
                            <li><a target="_blank" href="https://www.digev.mil.do/">DIGEV</a></li>
                            <li><a target="_blank" href="">Disponible</a></li>
                            <li><a target="_blank" href="">Disponible</a></li>
                            <li><a target="_blank" href="">Disponible</a></li>
                        </ul>
                    </div>
                </div>

                <!-- CONTACT US -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget_address_outer">
                        <h5 class="widget-title">Contactenos</h5>
                        <ul class="widget_address">
                            <li>Santo Domingo Este, Rep&uacute;blica Dominicana</li>
                            <li> <strong>Email</strong> </li>
                            <li>809-748-0588 ext. 1156</li>
                            <!-- <li>(+298) 146-6543-480</li> -->
                        </ul>

                    </div>
                </div>



            </div>
        </div>
        <!-- <div class="container-fluid">
            <div class="call-to-action-wrap">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="call-to-action-left">
                            <h5 class="text-uppercase m-b10 m-t0">Subscribe to our newsletter!</h5>
                            <span>Never Miss Anything From 7xtheme By Signing Up To Our Newsletter.</span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="call-to-action-right">
                            <div class="widget_newsletter">
                                <div class="newsletter-bx">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="news-letter" class="form-control" placeholder="ENTER YOUR EMAIL" type="text">
                                            <span class="input-group-btn">
                                                <button type="submit" class="site-button"><i class="fa fa-paper-plane-o"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>                  -->
    </div>
    <!-- FOOTER COPYRIGHT -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="clearfix">
                <div class="sx-footer-bot-center">
                    <span class="copyrights-text">© 2023 Vocacional Radio. Desarrollado por <a style="background-color:DodgerBlue;" target="_blank" href="https://www.g7soluciones.net/" >G7 Soluciones</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
