<header class="site-header header-style-1 nav-wide mobile-sider-drawer-menu">
    <div class="top-bar bg-gray">
        <div class="container">
            <div class="d-flex justify-content-end">
                <ul class="list-unstyled e-p-bx">
                    <!-- <li><span>Email:</span> info@vocacionalradio.com</li> -->
                    <li><span>Telefono:</span> 809-748-0588 ext. 1156</li>
                </ul>
            </div>
        </div>
    </div>
    <div  class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar header-left-gray-block bg-white">
            <div class="container clearfix">
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a routerLink="/index">
                            <img src="assets/images/logo-1.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>

                    <!-- EXTRA NAV -->
                    <div class="extra-nav">
                        <!-- <div class="extra-cell">
                            <a id="#search">
                                <i class="fa fa-search"></i>
                            </a>
                        </div> -->
                        <div class="extra-cell">
                            <div class="contact-slide-show">
                              <audio controls="" autoplay="true">
                                <source src="https://dominicanstream.com/proxy/vocacjonal/stream" type="audio/mpeg"> Your browser does not support the audio
                                element.
                              </audio>
                            </div>
                        </div>
                    </div>
                    <!-- EXTRA Nav -->

                    <!-- MAIN NAVIGATION -->
                    <div class="header-nav nav-dark navbar-collapse collapse justify-content-start collapse">
                        <ul class=" nav navbar-nav">
                            <li class="active">
                                <a routerLink="/index">Inicio</a>
                            </li>

                            <li>
                                <a routerLink="/nosotros">Nosotros</a>
                            </li>

                            <li>
                                <a routerLink="/programacion">Programación</a>

                            </li>

                            <li>
                                <a routerLink="/noticias">Noticias</a>

                            </li>

                            <li><a routerLink="/vivo">En Vivo</a></li>
                            <li><a routerLink="/other/contact1">Contacto</a></li>

                        </ul>
                    </div>

                    <!-- CONTACT -->
                     <div class="contact-slide-hide" style="background-image:url(assets/images/background/bg-map.png)">
                        <div class="contact-nav">
                             <a href="javascript:void(0)" class="contact_close">&times;</a>
                             <div class="contact-nav-form">
                                 <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12">

                                        <div class=" contact-nav-info">

                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Telefono</h6>
                                                    <p>(809) 748-0588 ext. 1156</p>
                                                </div>
                                            </div>

                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Correo</h6>
                                                    <p>info@vocacional.com</p>
                                                </div>
                                            </div>

                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Direcion</h6>
                                                    <p>Santo Domingo Este, República Dominicana</p>
                                                </div>
                                            </div>

                                            <div class="full-social-bg">
                                                  <ul>

                                                  <li><a target="_blank" href="https://www.facebook.com/digevRD/" class="fa fa-facebook"></a></li>
                                                  <li><a target="_blank" href="https://twitter.com/digevrd" class="fa fa-twitter"></a></li>
                                                  <li><a target="_blank" href="https://www.instagram.com/digev.rd/" class="fa fa-instagram"></a></li>
                                                  </ul>
                                            </div>

                                         </div>

                                    </div>

                                 </div>
                             </div>


                        </div>
                    </div>

            </div>
        </div>
    </div>
</header>
