<header class="site-header header-style-1 nav-wide mobile-sider-drawer-menu">
    <div class="top-bar bg-gray">
        <div class="container">
            <div class="d-flex justify-content-end">
                <ul class="list-unstyled e-p-bx">
                    <!-- <li><span>Email:</span> info@vocacionalradio.com</li> -->
                    <li><span>Telefono:</span> 809-748-0588 ext. 1156</li>
                </ul>
            </div>
        </div>
    </div>
    <div  class="sticky-header main-bar-wraper navbar-expand-lg">
        <div class="main-bar header-left-gray-block bg-white">
            <div class="container clearfix">
                <div class="logo-header">
                    <div class="logo-header-inner logo-header-one">
                        <a routerLink="/index">
                            <img src="assets/images/logo-1.png" alt="" />
                        </a>
                    </div>
                </div>
                <!-- NAV Toggle Button -->
                <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar icon-bar-first"></span>
                    <span class="icon-bar icon-bar-two"></span>
                    <span class="icon-bar icon-bar-three"></span>
                </button>

                    <!-- EXTRA NAV -->
                    <div class="extra-nav">
                        <!-- <div class="extra-cell">
                            <a id="#search">
                                <i class="fa fa-search"></i>
                            </a>
                        </div> -->
                        <div class="extra-cell">
                            <div class="contact-slide-show">
                              <audio controls="" autoplay="true">
                                <source src="https://dominicanstream.com/proxy/vocacjonal/stream" type="audio/mpeg"> Your browser does not support the audio
                                element.
                              </audio>
                            </div>
                        </div>
                    </div>
                    <!-- EXTRA Nav -->

                    <!-- MAIN NAVIGATION -->
                    <div class="header-nav nav-dark navbar-collapse collapse justify-content-start collapse">
                        <ul class=" nav navbar-nav">
                            <li class="active">
                                <a routerLink="/index">Inicio</a>
                            </li>

                            <li>
                                <a routerLink="/nosotros">Nosotros</a>
                            </li>

                            <li>
                                <a routerLink="/programacion">Programacion</a>

                            </li>

                            <li>
                                <a routerLink="/noticias">Noticias</a>
                                <!-- <ul class="sub-menu">
                                    <li><a href="javascript:void(0);">Project Grid Type</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/projects/project-grid3-columns">3 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid3-columns-no-gap">3 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-grid4-columns">4 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid4-columns-no-gap">4 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-grid5-columns">5 Columns</a></li>
                                            <li><a routerLink="/projects/project-grid5-columns-no-gap">5 Columns No Gutter</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0);">Project Masonry Type</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/projects/project-masonry3-columns">3 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry3-columns-no-gap">3 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-masonry4-columns">4 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry4-columns-no-gap">4 Columns No Gutter</a></li>
                                            <li><a routerLink="/projects/project-masonry5-columns">5 Columns</a></li>
                                            <li><a routerLink="/projects/project-masonry5-columns-no-gap">5 Columns No Gutter</a></li>
                                        </ul>
                                    </li>
                                    <li><a routerLink="/projects/project-carousel">Project Carousel</a></li>
                                    <li><a href="javascript:void(0);">Project Detail</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="/projects/project-detail1">Project Detail-1</a></li>
                                                <li><a routerLink="/projects/project-detail2">Project Detail-2</a></li>
                                            </ul>
                                    </li>
                                </ul> -->
                            </li>

                            <li><a routerLink="/vivo">En Vivo</a></li>
                            <li><a routerLink="/other/contact1">Contacto</a></li>

                        </ul>
                    </div>

                    <!-- CONTACT -->
                     <div class="contact-slide-hide" style="background-image:url(assets/images/background/bg-map.png)">
                        <div class="contact-nav">
                             <a href="javascript:void(0)" class="contact_close">&times;</a>
                             <div class="contact-nav-form">
                                 <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12">

                                        <div class=" contact-nav-info">

                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-phone"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Telefono</h6>
                                                    <p>(809) 748-0588 ext. 1156</p>
                                                </div>
                                            </div>

                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-envelope"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Correo</h6>
                                                    <p>info@vocacional.com</p>
                                                </div>
                                            </div>

                                            <div class="sx-icon-box-wraper left p-b30">
                                                <div class="icon-xs inline-icon m-b20 scale-in-center"><i class="fa fa-map-marker"></i></div>
                                                <div class="icon-content">
                                                    <h6 class="m-t0">Direcion</h6>
                                                    <p>Santo Domingo Este, República Dominicana</p>
                                                </div>
                                            </div>

                                            <div class="full-social-bg">
                                                  <ul>

                                                  <li><a target="_blank" href="https://www.facebook.com/digevRD/" class="fa fa-facebook"></a></li>
                                                  <li><a target="_blank" href="https://twitter.com/digevrd" class="fa fa-twitter"></a></li>
                                                  <li><a target="_blank" href="https://www.instagram.com/digev.rd/" class="fa fa-instagram"></a></li>
                                                  </ul>
                                            </div>

                                         </div>

                                    </div>


                                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 ">
                                        <div class="contact-nav-field shadow-lg p-a30 bg-white" style="background-image:url(assets/images/background/bg-map.png)">
                                        <form class="cons-contact-form2 form-transparent" method="post" action="form-handler2.php">

                                            <div class="input input-animate">
                                                <label for="name">Name</label>
                                                <input type="text" name="username" id="name" required>
                                                <span class="spin"></span>
                                            </div>

                                            <div class="input input-animate">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" id="email" required>
                                                <span class="spin"></span>
                                            </div>

                                            <div class="input input-animate">
                                                <label for="Phone">Phone</label>
                                                <input type="text" name="phone" id="Phone" required>
                                                <span class="spin"></span>
                                            </div>

                                            <div class="input input-animate">
                                                <label for="message">Textarea</label>
                                                <textarea name="message" id="message" required></textarea>
                                                <span class="spin"></span>
                                            </div>

                                            <div class="text-left p-t10">
                                                <button type="submit" class="site-button-secondry btn-half ">
                                                 <span>  Submit Now</span>
                                                </button>
                                            </div>
                                        </form>
                                        </div>
                                    </div> -->
                                 </div>
                             </div>


                        </div>
                    </div>

                    <!-- SITE SEARCH -->
                    <!-- <div id="search">
                        <span class="close"></span>
                        <form role="search" id="searchform" action="/search" method="get" class="radius-xl">
                            <div class="input-group">
                                <input value="" name="q" type="search" placeholder="Type to search"/>
                                <span class="input-group-btn"><button type="button" class="search-btn"><i class="fa fa-search arrow-animation"></i></button></span>
                            </div>
                        </form>
                    </div> -->



            </div>
        </div>
    </div>
</header>
