<div class="section-full mobile-page-padding p-tb30 bg-gray ">
    <div class="container">
         <div class="section-content owl-btn-vertical-center">
            <div class="owl-carousel home-client-carousel-2">

                <div class="item" *ngFor="let object of data">
                  <a target="_blank" href="{{object.url}}" class="client-logo-pic">
                    <img src="{{object.image}}" alt="">
                      <div>
                        <span>m&aacute;s</span>
                      </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
